body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    height: 200px;
    width: 200px;
}
#czrs, #paper, #rock{
    margin: 20px;
}
button{
    background-color: white;
    border: none;
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 3px;
}
p{
    font-size: 20px;
    font-weight: bold;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 70%;
}
h1{
    margin-top: 0;
    border: solid black;
}
.draw, .win, .lose{
    text-shadow: 3px 3px 3px 2px white;
    font-size: 30px;
    color: yellow;
    text-transform: uppercase;
}
.win{
    color: green;
}
.lose{
    color: red;
}